In [39]:
# pip install folium

In [40]:
import pandas as pd
import folium

In [56]:
print(pd.__version__)
print(folium.__version__)

1.3.4
0.14.0

In [41]:
accident2019 = pd.read_csv("Data/honhyo_2019.csv", encoding="Shift-JIS")

In [42]:
accident2019.head()

,資料区分,都道府県コード,警察署等コード,本票番号,事故内容,死者数,負傷者数,路線コード,上下線,地点コード,...,エアバッグの装備（当事者A）,エアバッグの装備（当事者B）,サイドエアバッグの装備（当事者A）,サイドエアバッグの装備（当事者B）,人身損傷程度（当事者A）,人身損傷程度（当事者B）,地点 緯度（北緯）,地点 経度（東経）,曜日(発生年月日),祝日(発生年月日)
0,1,10,59,1,2,0,1,40030,2,0,...,1,2,2,2,4,4,431412959,1414947029,6,3
1,1,10,59,2,2,0,2,40020,2,0,...,2,2,2,2,4,4,425706029,1413039991,1,3
2,1,10,59,3,2,0,1,50020,1,0,...,2,2,2,2,4,4,424115557,1414158530,3,3
3,1,10,59,4,2,0,1,40020,2,0,...,2,1,2,2,4,2,425647051,1413100440,7,3
4,1,10,59,5,2,0,1,40140,2,0,...,2,2,2,2,4,2,425606992,1420518034,2,2

In [43]:
accident2019.shape

(381237, 58)

In [44]:
# 緯度 means latitude but the type of value is degrees, minutes, seconds (DMS) 
# So, it is necessary to change from DMS to Decimal Degrees(DD)
accident2019['地点　緯度（北緯）']

0         431412959
1         425706029
2         424115557
3         425647051
4         425606992
            ...
381232    261126462
381233    261050023
381234    261137658
381235    261036685
381236    261150164
Name: 地点　緯度（北緯）, Length: 381237, dtype: int64

In [45]:
import numpy as np
df=pd.DataFrame()
df["latitude_deg"] = (accident2019['地点　緯度（北緯）']/10000000).agg(np.floor)
df["latitude_deg"]

0         43.0
1         42.0
2         42.0
3         42.0
4         42.0
          ...
381232    26.0
381233    26.0
381234    26.0
381235    26.0
381236    26.0
Name: latitude_deg, Length: 381237, dtype: float64

In [46]:
df["latitude_min"] = ((accident2019['地点　緯度（北緯）']-df["latitude_deg"] *10000000)/100000).agg(np.floor)/60
df["latitude_min"]

0         0.233333
1         0.950000
2         0.683333
3         0.933333
4         0.933333
            ...
381232    0.183333
381233    0.166667
381234    0.183333
381235    0.166667
381236    0.183333
Name: latitude_min, Length: 381237, dtype: float64

In [47]:
df["latitude_sec"] = (accident2019['地点　緯度（北緯）'] -(accident2019['地点　緯度（北緯）'] /100000).agg(np.floor)*100000)/1000/3600
df["latitude_sec"]

0         0.003600
1         0.001675
2         0.004321
3         0.013070
4         0.001942
            ...
381232    0.007351
381233    0.013895
381234    0.010461
381235    0.010190
381236    0.013934
Name: latitude_sec, Length: 381237, dtype: float64

In [48]:
# DMS format to DD format
df["longitude_deg"] = (accident2019['地点　経度（東経）']/10000000).agg(np.floor)
df["longitude_min"] = ((accident2019['地点　経度（東経）']-df["longitude_deg"] *10000000)/100000).agg(np.floor)/60
df["longitude_sec"] = (accident2019['地点　経度（東経）'] -(accident2019['地点　経度（東経）'] /100000).agg(np.floor)*100000)/1000/3600

In [49]:
accident2019["latitude"]=df["latitude_deg"] +df["latitude_min"]+df["latitude_sec"]  
accident2019["longitude"]=df["longitude_deg"] +df["longitude_min"]+df["longitude_sec"]  
accident2019.head()

,資料区分,都道府県コード,警察署等コード,本票番号,事故内容,死者数,負傷者数,路線コード,上下線,地点コード,...,サイドエアバッグの装備（当事者A）,サイドエアバッグの装備（当事者B）,人身損傷程度（当事者A）,人身損傷程度（当事者B）,地点 緯度（北緯）,地点 経度（東経）,曜日(発生年月日),祝日(発生年月日),latitude,longitude
0,1,10,59,1,2,0,1,40030,2,0,...,2,2,4,4,431412959,1414947029,6,3,43.236933,141.829730
1,1,10,59,2,2,0,2,40020,2,0,...,2,2,4,4,425706029,1413039991,1,3,42.951675,141.511109
2,1,10,59,3,2,0,1,50020,1,0,...,2,2,4,4,424115557,1414158530,3,3,42.687655,141.699592
3,1,10,59,4,2,0,1,40020,2,0,...,2,2,4,2,425647051,1413100440,7,3,42.946403,141.516789
4,1,10,59,5,2,0,1,40140,2,0,...,2,2,4,2,425606992,1420518034,2,2,42.935276,142.088343

In [50]:
accident2019chiba=accident2019[accident2019["都道府県コード"] == 44]
accident2019chiba.head()

,資料区分,都道府県コード,警察署等コード,本票番号,事故内容,死者数,負傷者数,路線コード,上下線,地点コード,...,サイドエアバッグの装備（当事者A）,サイドエアバッグの装備（当事者B）,人身損傷程度（当事者A）,人身損傷程度（当事者B）,地点 緯度（北緯）,地点 経度（東経）,曜日(発生年月日),祝日(発生年月日),latitude,longitude
9031,1,44,59,1,1,1,1,42330,1,0,...,2,0,4,0,351609726,1395435064,3,1,35.269368,139.909740
9032,1,44,59,2,2,0,3,42320,2,0,...,2,2,4,2,354656383,1402053659,5,3,35.782329,140.348239
9033,1,44,59,3,2,0,1,42310,1,0,...,2,2,4,2,354057425,1400947135,3,3,35.682618,140.163093
9034,1,44,59,4,2,0,1,50150,1,0,...,2,2,2,4,352925271,1401625808,5,3,35.490353,140.273836
9035,1,44,59,5,2,0,1,50020,2,0,...,2,2,4,2,354009695,1400145694,4,3,35.669360,140.029359

In [51]:
# Aim is to predict the place where the fatal accidents would happen.

In [53]:
accident_points = accident2019.loc[:,['latitude','longitude']]
accident_points_list = accident_points.values.tolist()

In [54]:
from folium.plugins import FastMarkerCluster
from folium.plugins import HeatMap

my_map = folium.Map(location=[35.269368,139.909740], zoom_start=10)

FastMarkerCluster(accident_points_list).add_to(my_map)
HeatMap(accident_points_list, radius=10, blur=5).add_to(my_map)

my_map.save("mapcluster_test")

In [ ]:
my_map